@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:700';

body, html {
    background-color: rgb(75, 75, 75);
    height: 100%;
    width: 100%;
    margin: auto;
    font-family: 'Rubik', serif;

}

/** Header börjar **/
.header {
    background-color: rgb(243, 102, 67);
    height: 62px;
    line-height: 62px;
    box-shadow: 0 0 10px #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    transition: 0.5s;
	z-index: 1;
    
}

.header.hide{
    transform: translateY(-100%);
}

#navigation {
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#title {
    text-decoration: none;
    color: rgb(75, 75, 75);
    display: block;
    font-size: 22px;
    margin-top: 18px;
    margin-left: 8px;
}
#menu  {
    width: auto;
}
#menu > ul > li.active{
    background: #DE5C3B;
    height: 62px;
}
.slide{
    z-index: -1;
    transition: 0.5s all;
    opacity: 1;
    height: 62px;


}
#menu > ul >li:nth-child(1).active ~ .slide {
    left: 0;
    opacity: 1;
}
#menu > ul >li:nth-child(2).active ~ .slide {
    left: 0px;
    opacity: 1;
}
#menu > ul >li:nth-child(3).active ~ .slide {
    left: 0px;
    opacity: 1;
}
#menu > ul >li:nth-child(4).active ~ .slide {
    left: 0px;
    opacity: 1;
}

#menu > ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
#menu > ul >li {
    float: left;
    margin: 0px;
    padding: 0px; 
    width: auto;  
}
#menu > ul >li > a {
    color: rgb(75, 75, 75);
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    padding: 0 19px;
    display: block;
    text-align: center;
    width: auto;
}

#menu > ul > li> a:hover {
    background-color: #DE5C3B;
}


.resNavigation {
	width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb (243, 102, 67);
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
    text-align: center;
    margin-left: 50px;
}

.resNavigation a {
    text-decoration: none;
}

.resNavigation ul {
    margin-top:35px;
    margin-left: 8px;
    list-style:none; 
    margin-right:auto;
    
}
.resLogo {
	text-align:center;
	margin:0 auto;
    
}
.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}
.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:yellow;
  top:5px;
}
.line2.active {
  transform: rotate(45deg);
  background-color:black;
}
.line3.active {
  transform: rotate(-45deg);
  background-color:black;
  top:-7px;
}
.menuitems {
    padding-top:12px;
    padding-bottom:12px;
    text-decoration: none;
    list-style:none; 
    font-size: 20px;
    display: inline-block;
    position:relative;	
    color:black;
    transition: all .5s ease-in-out;
}
.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: black;
  transition: width .2s;
}
.menulist {
	width: 100%;
	padding: 0px;
    background-color: rgb(243, 102, 67);
}
.menuitems:hover::after {
    width:100%;
}
#closebtn {
    height:25px;
    width:25px;	
    position: absolute;
    text-decoration:none;
    top: 10px;
    font-size: 36px;
    margin-right: 50px;
    z-index:100;
    color:rgb(243, 102, 67);
    cursor:pointer;
    transition:background-position .3s;
}
#main {	
    transition: margin-top .4s;
    text-align:center;
    margin:auto;
    padding: 16px;
    font-size:30px;
}

form#searchbar input[type=text] {
    margin-left: 10px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 75%;
    background: #f1f1f1;
}



form#searchbar button {
  float: left;
  width: 10%;
  padding: 10px;
  background: rgb(75, 75, 75);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form#searchbar button:hover {
  background: #1E1310;
}

.fa-search:before {
    color: rgb(243, 102, 67);
}

form#searchbar::after {
  content: "";
  clear: both;
  display: table;
}

#searchbar{
	width: 50%;
	margin-top: 0.5%;
}

#logo{
    float: left;
    width: 105px;
    position: absolute;
    left: 17px;
    top: 2px;
    border-radius: 5px;
}
/** Header slutar **/

/** Wrapper för övriga html-sidor **/
#wrapper {
    width: 90%;
    min-height: 500px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 10px;
    border-radius: 20px; 
}

#wrapper > main {
    width: 100%;
    min-height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px #000;
    padding: 5px;
}

/** Wrapper för startsida **/
#mainwrap {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 10px;
    padding:10px;
    background-color: white;
}

#left-container {
    border-right: 1px solid rgba(75, 75, 75, 0.5);
    width: 15%;
    margin-right: 5px;
    font-family: 'Rubik', serif;
    display: flex;
    flex-direction: column;
    height: 340px;
    padding: 10px;
    justify-content: space-between;
}

#left-container > p {
    border-bottom: 1px solid rgba(75, 75, 75, 0.5);
    padding-bottom: 5px
}

#left-container > h2, #right-container > h2 {
    text-align: center;
}

#left-container > h2{
    margin-top: 0px;
    background-color: rgb(243, 102, 67);
    font-family: 'Gugi', cursive, Arial, Helvetica, sans-serif;
    color:white;
}

.holder { 
  background-color:white;
  width:100%px;
  height:250px;
  overflow:hidden;
  font-family:Helvetica;
}

.holder .mask {
  position: relative;
  left: 0px;
  top: 10px;
  width:300px;
  height:300px;
  overflow: hidden;
}

.holder ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;

}
.holder ul li {
  border-bottom: 1px solid rgba(75, 75, 75, 0.5);
}
.holder ul li a {
  color:#000;
  text-decoration:none;
}

#right-container {
    margin-left: 5px;
    padding: 0 0 0  10px;
    width: 100%;
    font-family: 'Rubik', serif;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 200px;
    font-size: 21px;
}
#right-container > h2{
    text-align: left;
} 

#middle-container {
    display: flex;
    flex-direction: column;
    width: 82%;
    border: 2px solid black;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}
.slide-container {
    display: flex;
    height: 400px; 
    text-align: center;
}


#rdr2{
    object-fit: cover;
    height: 620px;
    width:100%;
}
#horizon{
    object-fit: cover;
    height: 620px;
    width:100%;
}
#fallout{
    object-fit: cover;
    height: 620px;
    width:100%;
}
#firstClone {
    object-fit: cover;
    height: 620px;
    width:100%;
}
#lastClone {
    object-fit: cover;
    height: 620px;
    width:100%;
}
#img1_text{
    position: absolute;
    z-index: 1;
    cursor: pointer;
    font-family: 'Gugi', cursive, Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: rgba(75, 75, 75, 0.5);
    height: 100%;
    width: 300px;
    opacity: 0;
    word-wrap: break-word;
    font-size: 40px;
}

#img1_text > p{
     padding: 10px;  
     background-color: rgb(243, 102, 67); 
}

#img1_text > button{
     margin-top: 40%;
     width: 80%;
     cursor: pointer;
     font-family: 'Gugi', cursive, Arial, Helvetica, sans-serif;
     background-color: rgb(243, 102, 67);
     border-radius: 10px;
     padding: 5px;
     border-color: rgb(75, 75, 75)
} 

#imgx_text{
    position: absolute;
    z-index: 1;
    margin: auto;
    background-color: rgba(75, 75, 75, 0.5);
    height: 100%;
    width: 300px;
    opacity: 0;
    cursor: pointer;
    word-wrap: break-word;
    font-family: 'Gugi', cursive, Arial, Helvetica, sans-serif;
    font-size: 40px;
}
#imgx_text > p{
    padding: 10px;
    background-color: rgb(243, 102, 67);
}
#imgx_text > button{
    margin-top: 40%;
    width: 80%;
    background-color: rgb(243, 102, 67);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    font-family: 'Gugi', cursive, Arial, Helvetica, sans-serif;
    border-color: rgb(75, 75, 75)
} 

#img2_text{
    position: absolute;
    z-index: 1;
    margin: auto;
    background-color: rgba(75, 75, 75, 0.5);
    height: 100%;
    width: 300px;
    cursor: pointer;
    opacity: 0;
    font-family: 'Gugi', cursive, Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    font-size: 40px;
}

#img2_text > p{
    padding: 10px; 
    background-color: rgb(243, 102, 67);  
}

.slide-container:hover #img2_text {
    opacity: 1;
    transition: 0.5s;
    color: white;
}

#img2_text > button{
    margin-top: 40%;
    width: 80%;
    cursor: pointer;
    background-color: rgb(243, 102, 67);
    border-radius: 10px;
    padding: 5px;
    font-family: 'Gugi', cursive, Arial, Helvetica, sans-serif;
    border-color: rgb(75, 75, 75)
} 

#img3_text {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    margin:auto;
    background-color: rgba(75, 75, 75, 0.5);
    height: 100%;
    width: 300px;
    opacity: 0;
    font-family: 'Gugi', cursive, Arial, Helvetica, sans-serif;
    font-size: 40px;
    word-wrap: break-word;
}
#img3_text > p{
    padding: 10px;   
    background-color: rgb(243, 102, 67);
}

#img3_text > button{
    margin-top: 40%;
    width: 80%;
    cursor: pointer;
    background-color: rgb(243, 102, 67);
    border-radius: 10px;
    padding: 5px;
    font-family: 'Gugi', cursive, Arial, Helvetica, sans-serif;
    border-color: rgb(75, 75, 75)
} 

.slide-container:hover #img3_text {
    opacity: 1;
    transition: 0.5s;
    color: white;
}

.slide-container:hover #img1_text {
    opacity: 1;
    transition: 0.5s;
    color: white;
    overflow: hidden;
}
.slide-container:hover #imgx_text {
    opacity: 1;
    transition: 0.5s;
    color: white;
    overflow: hidden;
}

#middle-second {
    color: black;
    display: flex;
    overflow: auto;
    flex-direction: row;
}

#middle-second > p {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 230px;
    opacity: 0, 5;
}

#middle-second > p > a > img {
    height: 200px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
    filter: opacity(75%)
}

#middle-second > p > a > img:hover {
    transition: 0.5s;
    filter: opacity(100%)
}

#bottom-container{
    color: black;
    width: 100%;
    min-height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#bottom-container > p {
    border-bottom: 1px solid rgba(75, 75, 75, 0.5);
    display: flex;
    display: row;
    justify-content: flex-start;

}
#bottom-container > p:hover {
    background-color: rgb(235, 235, 235);
    transition: 0.4s;
}

#bottom-container > p > a {
    text-decoration: none;
    color: black;
    vertical-align: middle;
}



.LatestNewsImg {
    height: 50px;
    width: 50px;
    margin-right: 30px;
    margin-left: 15px;
}
/** Wrapper startsida slutar **/

/** Top 10-sida börjar **/
#top-10-main {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: auto;
    margin-top: 70px;
    background-color: white;

}

.top10pics{
	width: 110px;
}

#top-10-main > figure > a > img {
    float: left;
    margin-right: 5px;
    height: calc(100% - 50px);
}

#top-10-main > figure {
    width: 100%;
    margin: 1%;
    box-shadow: 0 0 5px #333;
    background-color: #fff;
    transition: 0.5s all;
    font-size: 12px;
    height: 188px;
}



#top-10-main > figure > figcaption{
    font-family: 'Oswald', sans-serif;
    font-size: 120%;
    padding: 5px;
}

#top-10-main > figure > h3 {
    background-color: #000;
    color: #eee;
    margin: 0px;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;

}

#top10Rating{
    display: inline-block;
    float: right;
    margin: 0px;
    padding-right: 10px;
}

#top10titel{
	padding-left: 190px;
    margin: auto;
    text-align: left;
    width: 25%;
    
}
#top-10-main > figure > h3 > a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    display: inline-block;
}
/** top 10-sida slutar **/

/** Nyhetssida börjar **/

#news > h2 {
    width: 100%;
    border-bottom: 2px solid #000;
    padding: 15px;
	background-image: linear-gradient(#ECECEC, transparent),linear-gradient(#ECECEC, transparent);
    background-size: 1px 100%;
    border-top: 1px solid #e5e5e5;
	background-repeat: no-repeat;
}

#news > figure > a > img {
    margin-right: 5px;
    height: 146.391px;
    width: 100%;
}

#news > figure > figcaption {
    padding: 5px;
    font-size: 17px;
    font-weight: normal;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#news > figure {
    width: 20%;
    margin: 1%;
    padding: 15px;
    background-image: linear-gradient(#ECECEC, transparent),linear-gradient(#ECECEC, transparent);
    background-size: 1px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    border-top: 1px solid #e5e5e5;
    display: block;
    margin-bottom: 15px;

}

#news > figure > h3 {
    background-color: #000;
    color: #eee;
    margin: 0px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#news {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: auto;
    background-color: white;
}

#news > figure > h3 > a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    display: block;
}

#usage li {
    position: relative;
    margin: 5px 0;
    padding: 0 5px;
    color: #222;
    list-style: none;
      color: #858585;
    text-decoration: none;
    float: right;

}

#pub{
    color: #858585;
    float: left;
}

/** Nyhetssida slutar **/


/** Titelsida börjar **/
#titlehead {
    width: 100%;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    position: relative;
}

#titlehead > img {
    width: 100%;
    top: 80%;
    height: 400px;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,2)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

#titlehead-text {
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    color: rgb(243, 102, 67);
    text-shadow: 2px 2px black;
    font-size: 50px;
    opacity: 0;
    transition: 0.5s all;
}

#titlehead-text:hover {
    opacity: 1;
}

#titlecontainer {
    min-height: 250px;
    width: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
}

#titlecontainer > img {
    height: 220px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgb(75, 75, 75);
}

#titlecontent {
    padding: 10px;
    width: 55%;
}

.titlecontent-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Cinzel, Arial, Helvetica, sans-serif;
}
.titlecontent-headline > h2 {
    margin: 0px;
	display: flex;
}

#viewrating{
	margin-right: 177px;

}

#titleinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 20%;
    border: 1px rgb(75, 75, 75) ;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(75, 75, 75);
    line-height: 15px;
}

.infoBold {
    font-weight: bold;
}
#co-titlecontent {
    background-color: rgb(75, 75, 75);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 200px;
    width: 100%;
    overflow: hidden;
}

.co-titlecontent-img {

    width: 25% 
}

.discription > p{
    margin-top: 43px;
}

#review-section {
    width: 100%;
    background-color: white;
    min-height: 300px;
    border-radius: 0 0 20px 20px;
}

#review-section > h2 {
    margin: 0;
    padding: 10px;
}

.titleform {
    padding: 10px;
    margin-bottom: 10px;
}

.titleform input[type="text"], .titleform textarea, .titleform input[type="date"] {
    border: 1px solid black;
    padding: 2px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
}

label {
    float: left;
    width: 50px;
}

#addComment {
    margin-left: 50px;
}

.commentBox {
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    padding: 1%;
    justify-content: space-between;
    border-top: 1px solid black
}

.leftPanelImg {
    width: 10%;
}

.leftPanelImg img{
    border-radius: 100%
}

.rightPanel {
    width: 85%; 
}

.containerbtn {
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -65px;
    margin-top: -20px;
    height: 40px;
    text-align: center;
    display: flex;
  }
  
  #votebutton {
    background-color: rgb(243, 102, 67);
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    height: 30px;
    margin-left: 196%;
    margin-top: 237px;
    font-weight: bold;
	display: flex;
    flex-flow: row-reverse;
    text-align: center;
    justify-content: center;
}

#votebutton span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
  
#votebutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
#votebutton:hover span {
    padding-right: 25px;
}
  
#votebutton:hover span:after {
    opacity: 1;
    right: 0;
}

.errorVote {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.errorVote-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  padding-left: 8px;
  width: 45%;
  border-radius: 10px;
  padding-right: 8px;
  box-shadow: 0 0 10px #000;
  font-family: 'Rubik', serif;
}

.errorVote-content > p {
  padding-top: 20px;
}

.errorVote-content > p > a {
  text-decoration-line: none;
  color: rgb(243, 102, 67);
}

.errorVote-content > p > a:hover {
  color: #DE5C3B;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/** Titelsida slutar **/

/** betyg systemet börjar **/
.rating {
    float:right;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}

/** betyg systemet slutar **/

/** Login-sida börjar **/
.login-page {
    width: 360px;
    padding: 20px ;
    margin: auto;
}

.rate {
    height: 42px;
    margin-right: 96px;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


.form {
    position: static;
    z-index: 1;
    background-color: rgb(48, 47, 47);
    max-width: 360px;
    margin: auto;
    padding: 45px 45px 20px;
    text-align: center;
}

.form input {
    outline: 1;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding:15px;
    box-sizing: border-box;
    font-size: 14px;
}

.button {
    text-transform: uppercase;
    outline: 0;
    background: rgb(255, 72, 72);
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.message {
    text-decoration: none;
    color: white;
}

.message > a {
    color: rgb(255, 72, 72);
}

.form .reg-form {
    display: none;
}
/** Login-sida slutar **/

/** About-sida startar **/

#aboutOver {
    background-color: white;
    height: 200px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#aboutOver > hr {
    width: 30px;
    border-style: solid;
}
.textColor {
    color: rgb(243, 102, 67);
    font-size: 60px;
}
#aboutOver-Over {
    font-size: 50px;
    width: auto;
    text-align: center
}

#aboutOver-Under {
    font-size: 25px;
    width: auto;
    text-align: center
}

#aboutUnder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin:10px auto;
    width: 95%
}

.aboutPerson {
    background-color: rgb(243, 102, 67);
    width: 15%;
    min-height: 300px;
    border-radius: 20px;
    border: solid 1px rgb(75, 75, 75);
    box-shadow: 0 0 10px rgb(75, 75, 75)
}

.aboutPerson > hr {
    width: 50%;
    border-style: solid;
    border-color: rgb(75, 75, 75);
}

.aboutImg {
    width: 90%;
    height: 40%;
    border-radius: 100%;
    background-color: white;
    margin: 10px auto;
    overflow: hidden;
}

.aboutImg > img {
    max-width: 100%
}

.aboutPersonName {
    font-size: 20px;
    margin: auto;
    text-align: center;
    padding: 3px;
}

.aboutPersonInfo {
    word-wrap: break-word;
    padding: 3px;
    font-size: 13px;
}



/** About-sida slutar **/

/** Footer börjar **/
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-bottom: 5px;
    height: 75px;
    background-color: rgb(243, 102, 67);
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer > p {
    text-align: center;
    vertical-align: center;
}

footer > p > a {
    color: white;
}
/** Footer slutar **/


@media screen and (max-width: 1679px){
	#votebutton {
    	margin-left: 320%;
	}

@media screen and (max-width: 1630px){
	#votebutton {
    	margin-left: 305%;
	}

@media screen and (max-width: 1560px){
	#votebutton {
    	margin-left: 197%;
	}

@media screen and (max-width: 1536px){
	#votebutton {
    	margin-left: 197%;
	}
	

