body, html {
    background-color: rgb(75, 75, 75);
    height: 100%;
    margin: 0px;
    font-family: 'Rubik', serif;
}

body > header {
    background-color: rgb(243, 102, 67);
    height: 62px;
    line-height: 62px;
    box-shadow: 0 0 10px #000;
}

#navigation {
    width: auto;
    margin: auto;
}

#title {
    text-decoration: none;
    color: rgb(75, 75, 75);
    display: block;
    float: left;
    font-size: 22px;
    margin-top: 18px;
    margin-left: 8px;
}
#menu  {
    float: right;
    width: 300px;
}
#menu > ul > li.active{
    background: #DE5C3B;
}
.slide{
    z-index: -1;
    transition: 0.5s all;
    opacity: 1;

}
#menu > ul >li:nth-child(1).active ~ .slide {
    left: 0;
    opacity: 1;
}
#menu > ul >li:nth-child(2).active ~ .slide {
    left: 0px;
    opacity: 1;
}
#menu > ul >li:nth-child(3).active ~ .slide {
    left: 0px;
    opacity: 1;
}
#menu > ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;

}
#menu > ul >li {
    float: left;
    margin: 0px;
    padding: 0px; 
    width: 80px,  
}
#menu > ul >li > a {
    color: rgb(75, 75, 75);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 0 19px;
    font-size: 21px;
    display: block;
    text-align: center;
}

#menu > ul > li> a:hover {
    background-color: #DE5C3B;
}

#searchbar {
    height: 40px;
    border-radius: 5px;
    border: 0px;
    padding-left: 10px;
    margin-left: 200px;
    width: 50%;
    font-size: 17px;
    font-family: 'Rubik', serif;
}

#logo{
    float: left;
    width: 105px;
    position: absolute;
    left: 17px;
    top: 2px;
    border-radius: 5px;
}

#mainwrap {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:10px;
    background-color: white;
}

#topwrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
}

#left-container {
    border-right: 1px solid rgba(75, 75, 75, 0.5);
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 18%;
    font-family: 'Rubik', serif;
    display: flex;
    flex-direction: column;
    height: 340px;
    justify-content: space-between;
}

#left-container > p {
    border-bottom: 1px solid rgba(75, 75, 75, 0.5);
    padding-bottom: 5px
}

#left-container > h2, #right-container > h2 {
    text-align: center;
}

#middle-container {
    display: flex;
    flex-direction: column;
    width: 64%
}

.slide-container {
    width: 640px;
    height: 360px; 
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    box-shadow:rgba(0,0,0,0.8) 0 0 10px;
}

.image-container {
    width:1920px;
    height: 360px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

#img1_text{
    position: absolute;
    z-index: 1;
    margin-left: 16.66%;
    background-color: rgba(75, 75, 75, 0.5);
    height: 100%;
    width: 320px;
    opacity: 0;
    word-wrap: break-word;
    font-size: 40px;
}

#img1_text > p{
     padding: 10px;   
}

#img1_text > button{
     margin-top: 40%;
     width: 80%;
     background-color: rgb(243, 102, 67);
     border-radius: 10px;
     padding: 5px;
     border-color: rgb(75, 75, 75)
} 

.image-container:hover #img1_text {
    opacity: 1;
    transition: 0.5s;
    color: white;
    overflow: hidden;
}

#img2_text{
    position: absolute;
    z-index: 1;
    margin-left: 50%;
    background-color: rgba(75, 75, 75, 0.5);
    height: 100%;
    width: 320px;
    opacity: 0;
    word-wrap: break-word;
    font-size: 40px;
}

#img2_text > p{
    padding: 10px;   
}

.image-container:hover #img2_text {
    opacity: 1;
    transition: 0.5s;
    color: white;
}

#img2_text > button{
    margin-top: 40%;
    width: 80%;
    background-color: rgb(243, 102, 67);
    border-radius: 10px;
    padding: 5px;
    border-color: rgb(75, 75, 75)
} 

#img3_text {
    position: absolute;
    z-index: 1;
    margin-left: 83.33%;
    background-color: rgba(75, 75, 75, 0.5);
    height: 100%;
    width: 320px;
    opacity: 0;
    font-size: 40px;
    word-wrap: break-word;
}
#img3_text > p{
    padding: 10px;   
}

.image-container:hover #img3_text {
    opacity: 1;
    transition: 0.5s;
    color: white;
}

#img3_text > button{
    margin-top: 40%;
    width: 80%;
    background-color: rgb(243, 102, 67);
    border-radius: 10px;
    padding: 5px;
    border-color: rgb(75, 75, 75)
} 

.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
}

.button-container {
    top: -20px;
    position: relative;
    z-index: 1;
}

.slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
}

#slider-image-1:target ~ .image-container{
    left:0px;
}

#slider-image-2:target ~ .image-container{
    left:-640px;
}

#slider-image-3:target ~ .image-container{
    left:-1280px;
} 

#middle-second {
    color: black;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    white-space: nowrap;
}

#middle-second>p {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 230px;
    opacity: 0, 5;
}

#middle-second>p>a>img {
    height: 200px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
    filter: opacity(75%)
}

#middle-second>p>a>img:hover {
    transition: 0.5s;
    filter: opacity(100%)
}

#top-10-main {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: auto;
    background-color: white;
}

#top-10-main > figure > a > img {
    float: left;
    margin-right: 5px;
    height: calc(100% - 49px);
}

#top-10-main > figure {
    width: 70%;
    margin: 1%;
    box-shadow: 0 0 5px #333;
    background-color: #fff;
    transition: 0.5s all;
    font-size: 12px;
    height: 188px;
}

#top-10-main > figure:hover {
    width: 100%;
    box-shadow: 0 0 15px #000;
}

#top-10-main > figure > figcaption{
    font-family: 'Oswald', sans-serif;
    font-size: 120%;
    padding: 5px;
}

#top-10-main > figure > h3 {
    background-color: #000;
    color: #eee;
    margin: 0px;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#top-10-main > figure > h3 > a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    display: block;
}

#middle-second > p > a img {
    height: 200px;
    margin: 5px;
    box-shadow:rgba(0,0,0,0.8) 0 0 10px;
}

#right-container {
    border-left: 1px solid rgba(75, 75, 75, 0.5);
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    width: 18%;
    font-family: 'Rubik', serif;
    display: flex;
    flex-direction: column;
    height: 340px;
    justify-content: space-between;
}

#bottom-container{
    color: black;
    width: 100%;
    min-height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#bottom-container > p {
    border-bottom: 1px solid rgba(75, 75, 75, 0.5);
}

#wrapper {
    width: 90%;
    min-height: 500px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px; 
}

#titlehead {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    position: relative;
}

#titlehead > img {
    width: 100%;
    object-fit: contain;
    transform: translateY(-10%);
    top: 80%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

#titlehead-text {
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    color: rgb(243, 102, 67);
    text-shadow: 2px 2px black;
    font-size: 50px;
    opacity: 0;
    transition: 0.5s all;
}

#titlehead-text:hover {
    opacity: 1;
}

#titlecontainer {
    min-height: 250px;
    width: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}

#titlecontainer > img {
    height: 220px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgb(75, 75, 75);
}

#titlecontent {
    padding: 10px;
    width: 55%;
}

#titlecontent-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Cinzel, Arial, Helvetica, sans-serif;
    width: 583px;

}
#titlecontent-headline > h2 {
    margin: 0px;
}

#titleinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    border: 1px rgb(75, 75, 75) ;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(75, 75, 75);
    line-height: 10px;
}

#co-titlecontent {
    background-color: rgb(75, 75, 75);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 200px;
    width: 100%;
    overflow: hidden;
}

.co-titlecontent-img {
    padding: 1px;
    width: 25% 
}

.discription > p{
    margin-top: 5px;
}

#review-section {
    width: 100%;
    background-color: white;
    min-height: 300px;
    border-radius: 0 0 20px 20px;
}

#wrapper > main {
    width: 100%;
    min-height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px #000;
}

.login-page {
    width: 360px;
    padding: 20px ;
    margin: auto;
}

.rate {
    height: 42px;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


.form {
    position: relative;
    z-index: 1;
    background-color: rgb(48, 47, 47);
    max-width: 360px;
    margin: auto;
    padding: 45px 45px 20px;
    text-align: center;
}

.form input {
    outline: 1;
    background: rgb(190, 190, 190);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding:15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: rgb(255, 72, 72);
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.message, message > a {
    text-decoration: none;
    color: white;
}

.form .reg-form {
    display: none;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-bottom: 5px;
    height: 75px;
    background-color: rgb(243, 102, 67);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

footer > p {
    text-align: center;
}
