body, html {
    background-color: rgb(75, 75, 75);
    height: 100%;
}


header {
    margin-top: 5px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 75px;
    background-color: rgb(243, 102, 67);
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Rubik', serif;
    line-height: 40px;
}

header > h1 > a {
    text-decoration: none;
    color: rgb(75, 75, 75);
    display: block;
    float: left;
    font-size: 25px;
    top: 50%;
    margin: 0;
    transform: translate(0, -50%);
    padding-bottom: 40px;
}

#searchbar {
    position: relative;
    margin: 0;
    top: 50%;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 40px;
    width: 50%;
    font-size: 20px;
    border-radius: 10px
}   
    
#headnav {
    top: 50%;
    margin: 0;
    transform: translate(0, -50%);
    float: right;
}
#headnav > ul {
    top: 50%;
    margin: 0;
    transform: translate(0, -50%);
    list-style: none;
    border: 3px;
}

#logo{
    float: left;
    width: 13%;
    position: absolute;
    padding-left: 15px;
    top: 5px;

}

#headnav > ul > li {
    float: right;
    padding: 20px;
    height: 25px;
    margin: 5px;
    background-color: rgb(243, 102, 67);
    }

#headnav > ul > li a {
    text-decoration: none;
    color: rgb(75, 75, 75);
    display: block;
}

#headnav > ul > li:hover {
    background-color: rgb(189, 78, 51);
}

#mainwrap {
    width: 90%;
    background-color: white;
    min-height: 500px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    
}

#wrapper {
    width: 90%;
    min-height: 500px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px; 
}

#titlehead {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    position: relative;
}

#titlehead > img {
    width: 100%;
    object-fit: contain;
    transform: translateY(-10%);
    top: 80%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

#title {
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    color: rgb(243, 102, 67);
    text-shadow: 2px 2px black;
    font-size: 50px;
    opacity: 0;
    transition: 0.5s all;

}

#title:hover {
    opacity: 1;
}

#titlecontain {
    min-height: 250px;
    width: 100%;
    background-color: white;
    border-radius: 0 0 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

#titlecontain > img {
    height: 200px;
    margin: 10px;
    float: left;
    box-shadow: 2px 2px 5px;
}

#titlecontent {
    padding: 10px;
    float: left;
    width: 55%;
}

#titleinfo {
    float: right;
    height: 200px;
    width: 200px;
    border: 1px rgb(75, 75, 75) solid;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 2px 2px rgb(75, 75, 75);
    line-height: 10px;
}


#wrapper > main {
    width: 100%;
    min-height: auto;
    background-color: rgb(255, 255, 255);
}

#top10main {
    background-color: white;
    min-height: 500px;
}

.login-page {
    width: 360px;
    padding: 20px ;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background-color: rgb(48, 47, 47);
    max-width: 360px;
    margin: auto;
    padding: 45px 45px 20px;
    text-align: center;
}

.form input {
    outline: 1;
    background: rgb(190, 190, 190);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding:15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: rgb(255, 72, 72);
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.message, message > a {
    text-decoration: none;
    color: white;
}
.form .reg-form {
    display: none;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-bottom: 5px;
    height: 75px;
    background-color: rgb(243, 102, 67);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

footer > p {
    text-align: center;
}
